<div class="container" ng-controller = "MainController as login">
  <div class="row">
    <div class="col-sm-6 col-md-4 col-md-offset-4">
      <h2 class="form-signin-heading">Login</h2>
      <form class="form-signin" method="post" ng-submit="login.doLogin()">
        <input type="text" placeholder="Username" class="form-control"  name="username" ng-model="login.loginData.username">
        <input type="password" placeholder="Password" class="form-control"  name="password" ng-model="login.loginData.password">
        <button type="submit" class="btn btn-lg btn-success btn-block">Login</button>
      </form>
    </div>
  </div>
</div>
