<div class="container" ng-controller = "UserCreateController as user">
  <div class="row">
    <div class="col-sm-6 col-md-4 col-md-offset-4">
      <h2 class="form-signin-heading">Signup</h2>
      <form class="form-signin" method="post" ng-submit="user.signupUser()">
        <input type="text" placeholder="Name" class="form-control" name="name" ng-model="user.userData.name">
        <input type="text" placeholder="Username" class="form-control" name="username" ng-model="user.userData.username">
        <input type="password" placeholder="Password" class="form-control" name="password" ng-model="user.userData.password">
        <button type="submit" class="btn btn-lg btn-danger btn-block">Signup</button>
      </form>
    </div>
  </div>
</div>
